// sass
@mixin opacity($value) {
    opacity: #{"." + $value};
    filter: alpha(opacity=$value);
    -ms-filter: "alpha(opacity=$value)";
    -khtml-opacity: #{"." + $value};
    -moz-opacity: #{"." + $value};
}

.bullet-chart {
    font-size: 11px;
    margin: 10px 0;

    .black { background-color: black !important; }
    .blue { background-color: blue !important; }
    .cyan { background-color: cyan !important; }
    .red { background-color: red !important; }
    .green { background-color: green !important; }
    .gray { background-color: gray !important; }

    .legend {
        border: 1px solid #ccc;
        display: inline-block;
        margin: 0 5px;
        padding: 7px;
        max-width: 300px;

        .legend-item {
            display: inline-block;
            line-height: 1.2em;
            margin: 0 10px 0 0;
            padding: 3px;
            position: relative;
            // text-indent: -10px;

            .legend-symbol {
                background: #ccc;
                display: inline-block;
                height: 1.2em;
                margin: 0 5px 0 0;
                position: absolute;
                vertical-align: middle;
            }
            .legend-label {
                display: inline-block;
                height: 1.2em;
                min-width: 100px;
                max-width: 280px;
                overflow: hidden;
                padding: 0 10px;
                word-wrap: break-word;
            }
            .marker {
                margin-right: 8px;
                width: 2px;
            }
            .bar {
                width: 5px;
            }

            &:hover {
                background: #eee;
                cursor: pointer;
            }
        }
        .fade {
            @include opacity(50);
        }
    }


    .chart-container{
        // border: 1px solid #ccc;
        margin: 5px 5px 20px;
        padding: 0;
        position: relative;

        .tick-bar {
            background: #eee;
            border-bottom: 1px solid #999;
            height: 30px;
            position: relative;

            .tick {
                background: #999;
                bottom: -5px;
                height: 5px;
                position: absolute;
                width: 1px;
            }
            .tick-label {
                bottom: -2em;
                color: #666;
                font-size: 0.6em;
                margin-left: -1.05em;
                position: absolute;
                text-align: center;
                width: 2.1em;
            }
        }

        .bar {
            background: rgba(200, 200, 255, 0.3);
            height: 10px;
            position: absolute;
            top: 10px;
        }
        .marker {
            height: 50%;
            position: absolute;
            top: 25%;
            width: 2px;
            z-index: 9;
        }
    }
}
